<html>
    <body>
        <h1>LATEST NEWS</h1>
        <input class="button" type="submit", value="GET", name="get news" id ="fetcher" />
        <script>

            // Fetch function to get an article
            function articleFetch(num){
                return new Promise((resolve, reject)=>{

                    // Specify how many times a GET request should be attempted
                    const maxRetries = 1;
                    let retries = 0;

                    // Define a fetch attempt function
                    function fetchAttempt() {
                        fetch(`http://vs-c2.cs.uit.no:30002/fetch_news_fake?article_num=${num}`)

                        .then(response => {
                            if(!response.ok){
                                // Control jumps to nearest handler on error
                                throw new Error(`HTTP request failed: error ${response.status} ${response.statusText}`);
                            }

                            // Return processed response
                            return response.json();

                        }).then(data => {
                            resolve(data);

                        }).catch(error => {
                            // Retry with a delay if request failed
                            if(retries < maxRetries) {
                                retries++;
                                setTimeout(fetchAttempt, 10000);
                            }
                            // Reject if all retries failed
                            else{
                                reject(error);
                            }
                        })
                    }
                    // Call the fetchAttempt function
                    fetchAttempt()
                });
            }

            // Setup a news fetcher button
            const button = document.getElementById("fetcher");
            button.addEventListener("click", function(){
                fetch(`http://vs-c2.cs.uit.no:30002/news_request_fake`)

                    .then(response => {
                        if(!response.ok){
                            // Control jumps to nearest handler on error
                            throw new Error(`HTTP request failed: error ${response.status} ${response.statusText}`); 
                        }
                        // Return processed response
                        return response.text();

                    }).then(response =>{
                        num = parseInt(response);
                        // Remove old news
                        oldHeadings = document.querySelectorAll(".newsLocation");
                        oldParagraphs = document.querySelectorAll(".newsText");
                        oldURLs = document.querySelectorAll(".newsURL");

                        for(let URL of oldURLs){
                            URL.remove();
                        }
                        for(let heading of oldHeadings){
                            heading.remove();
                        }
                        for(let paragraph of oldParagraphs){
                            paragraph.remove();
                        }

                        // Chain fetch calls:

                        // Dummy promise to initiate a chain
                        let promiseChain = Promise.resolve();

                        // Send GET request for each article
                        for (let i = 0; i < num; i++) {

                            promiseChain = promiseChain.then(() => {
                                return articleFetch(i);   
                            }).then(data => {
                                //Skip if data is corrupted
                                if(data["summary"] == "NONE" || data["location"] == "NONE"){
                                    return;
                                }
                                // Display information on the web page
                                // Replace this code to handle the fetched json data as needed (display on map?) <<<=== !!!
                                let location = document.createElement('h2');
                                location.className = "newsLocation";
                                location.textContent = data["location"];
                                let url = document.createElement('h3');
                                url.className = "newsURL";
                                url.textContent = data["URL"];
                                let info = document.createElement('p');
                                info.textContent = data["summary"];
                                info.className = "newsText";
                                document.body.append(location);
                                //document.body.append(url);
                                document.body.append(info);
                
                        }).catch(error => {throw error;});
                        }
                    })
                    .catch(error=>{alert(error)});
            })

        </script>
    </body>
</html>